header {text-align: center;
	margin-top: 20px;
	font-size: 25;
	font-family: arial;
	font-style: initial;
	background: url(../IMG/4.jpg) no-repeat center top / cover;
	height: 255px}
.container form {padding-top: 40px;}
nav{float: right;}
.menu{padding: 0;
margin-right:50px;
margin-top: 120px;
display: block;  }
.menu li {margin-right:20px;
float: left;
display: block;}
.menu a{color: black;
font-size: 15;
text-transform: uppercase;
text-decoration: none;}
.q1 h2{text-align: center;
text-decoration-color:#380000;}
.q1 {
height: 352px;
	font-size: 18;
	border: solid #8b0202; 
	width:600px;
align-content: center;
background: url(../IMG/5.jpg) no-repeat center}
.akc{float: right;
font-size: 16;}
.Pop{text-align: center;
margin-top: 40px;
margin-left: 35px;
	font-size:20;
	font-family: arial;
	font-style: initial;
	height: 255px}
	.menu1{padding: 0;
margin-top: 20px;
display: block;  }
.menu1 li {
	margin-right:22px;
float: left;
display: block;}
.menu1 a{color: black;
font-size:5;
text-transform: uppercase;
text-decoration: none;}
.help a{height: 30px; width: 120px;
	background: #750a0a;
	text-align: right;
margin: 45px;
color: white;
display: block;
font-size: 25;
text-decoration: none;
text-transform: uppercase;}

.pom{margin: 15 5 0 15;
	background: url(../IMG/9.jpg) center top repeat;
height: 36px;}







